snippet cons "React Component constructor" b
constructor(props) {
  super(props);

  this.state = {${1}}
}

endsnippet

snippet fnc "React Component function" b
${1:name}(props) {
}

endsnippet

snippet fn "function" b
${1:name} = (${2:args}) => {
}

endsnippet

snippet ccl "console log" b
console.log('${1}')
endsnippet
